<h1>Login to my site!</h1>
<form id="loginForm">
    <label for="">email</label>
    <input type="text" id="loginEmail" placeholder="email">
    <label for="">password</label>
    <input type="password" id="loginPassword" >
    <button>Login!</button>
</form>

<script src="/js/login.js"></script>