<h1>Signup to my site!</h1>
<form id="signupForm">
    <label for="">username</label>
    <input type="text" id="signupUsername" placeholder="username">
    <label for="">email</label>
    <input type="text" id="signupEmail" placeholder="email">
    <label for="">password</label>
    <input type="password" id="signupPassword" >
    <button>Signup!</button>
</form>

<script src="/js/signup.js"></script>